[submodule "external/baseclasses"]
	path = external/baseclasses
	url = https://github.com/kirikiroid3/baseclasses.git
[submodule "external/oniguruma"]
	path = external/oniguruma
	url = https://github.com/kirikiroid3/oniguruma.git
